@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}


 @font-face{
  font-family: "fontlogo" ;
  src:url('../fonts/DevilBreezeBold.ttf')
 }

 @font-face{
  font-family: "fontutama" ;
  src:url('../fonts/GothamLight.ttf')
 }

 @font-face{
  font-family: "font2" ;
  src:url('../fonts/OstrichSansHeavy.otf')
 }

 @font-face{
  font-family: "font3" ;
  src:url('../fonts/AprilFoolsDay.ttf')
 }

  @font-face{
  font-family: "font4" ;
  src:url('../fonts/CicleGordita.ttf')
 }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    height: 100vh;
  background-image: url('../images/background7.png');
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(25,25,25,1);
  background-repeat: no-repeat;
}


#iklan-atas{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.iklanataspic{
  float: left;
  width: 50%;
  height: 60px;
}


#main{
  margin-top: 30px;
  width: 59%;
  height: 2000px;
  margin-left: 10%;
  margin-bottom: 1%;
  margin-right: 1%;
  float: left;
}

#main > h1{
    font-family: "fontutama" ;
  color: white;
}

.penulis{
    font-family: "fontutama" ;
  color: white;
  font-size: 14px;
  float: left;
  margin-right: 22px;
}

.tanggalditulis{
    font-family: "fontutama" ;
    color: white;
    font-size: 14px;
    float: left;
}

.share-btn {
  float: right;
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 5em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #eeeeee;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit { background: #ff5700; }
.share-btn.linkedin { background: #4875B4; }
.share-btn.pinterest { background: #AB0909; }
.share-btn.email { background: #444444; }

.photoartikel{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.list{
  color: white;
  font-family: "font3" ;
  font-size: 40px;  
  letter-spacing: 2px; 
  margin-bottom: 10px;
}

.textdeskripsi{
  color: white;
  font-size: 12px;
  font-family: "fontutama" ;
  display: inline-grid;
  padding: 10px 10px;
  line-height: 25px;
}

.deskripsipanjang{
  color: white;
  font-size: 13px;
  line-height: 25px;
  padding: 10px 10px;
  font-family: "fontutama" ;
}

/* SoundCloud */
#slidebarkanan{
  width: 19%;
  height: 2000px;
  margin-right: 10%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-top: 30px;
  float: right;
}

#soundcloud{
  margin-top: 20px;
}

.iklan-kanan {
    position: relative;
    width: 100%;
  }

.iklan-kanan img {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 250px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .iklan-kanan .gambar2:hover {
    opacity: 0;
  }


  /*  Footer */

footer{
  margin-top:6200px;
  display:inline-block;
  background-color:#312f2f;
  bottom: 0 !important;
  width: 100%;
  height: 350px;

}

.text-footer{
  color: grey;
  font-family: "fontutama" ;
padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  font-size: 20px;
}

.logo-footer > a{
  color: grey;
  text-decoration: none !important;
  display: inline-block;

}

.logo-footer{
  color: grey !important;
  padding-top: 10px;
  padding-left:3px;
  display: inline-block;
}


.logo-sosial-footer{
  padding-right:3px;
  font-size: 25px;
}

.pembataslistfooter{
  border-bottom:1px black;
  border-bottom-style: groove;

}

.text-footer2{
  color: grey;
padding-left: 50px;
    font-family: "fontutama" ;
}

.deskirpsi-nakamaindo{
  clear: both;
  line-height: 18px;
  display: inline-block;
  padding-top: 2px;
  color: grey;
padding-left: 50px;
  font-size: 15px;
   font-family: "fontutama" ;

}

.imgfooter{

  margin-top: 80px;
  margin-right: 100px;
  float: right;
  display: inline-block;
  width: 295px;
}

.copyright{
  clear: both;
  text-align: center;
  background-color:#131212;
  border-top:1px #8D8D8D;
  border-top-style: groove;
padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 15px;
  font-family: "fontutama" ;
  color: grey;
}


.container > header,
.codrops-top {
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
}

.container > header {
  margin: 0 auto;
  padding: 12em 2em;
  padding-left: 370px;
  background: rgba(0,0,0,0.05);
}

.container > header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

.container > header a:hover {
  color: #4f7bab;
}

.container > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.container > header span {
  display: block;
  font-size: 55%;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
    text-decoration: none;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.95);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #b1aea6;
  color: #b1aea6;
  font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  border-color: #89867e;
  color: #89867e;
  text-decoration: none;
}

@media screen and (max-width: 1025px) {
  .container > header {
    margin: 0 auto;
    padding: 120px 50px;
    font-size: 70%;
    text-align: right;
  }
}

@media screen and (max-width: 740px) {

  .codrops-icon span {
    display: none;
  }

  #iklan-atas{
  width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  margin-top: 100px;
}

.iklanataspic{
  width: 100%;
  height: 60px;
}

#main{
  width: 98%;
  height: 2000px;
  margin-left: 1%;
  margin-top: 30px;
  margin-bottom: 1%;
  margin-right: 1%;
  float: left;
}

#sharetombollist{
  clear: both;
}
.share-btn {
  float: left;
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 3em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}

.photoartikel{
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

  #slidebarkanan{
    display: none;
  }

  .iklan-kanan{
    display: none;
  }


  /*  Footer */

  footer{
  margin-top: 8600px;
   background-color:#312f2f;
    display: inline-block;
    width: 100%;
    height: 300px;
  }


.text-footer{
    color: grey;
    font-family: "fontutama" ;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    font-size: 20px;
  }

.logo-footer > a{
  color: grey;
  text-decoration: none !important;
  display: inline-block;

}

.logo-footer{
  color: grey !important;
  padding-top: 10px;
  padding-left:3px;
  display: inline-block;
}


.logo-sosial-footer{
  padding-right:3px;
  font-size: 25px;
}

.pembataslistfooter{
  border-bottom:1px black;
  border-bottom-style: groove;

}

.text-footer2{
  color: grey;
padding-left: 30px;
    font-family: "fontutama" ;
}

.deskirpsi-nakamaindo{
  clear: both;
  line-height: 15px;
  display: inline-block;
  padding-top: 2px;
  color: grey;
padding-left: 30px;
  font-size: 10px;
   font-family: "fontutama" ;

}

.imgfooter{

  margin-top: 80px;
  margin-right: 20px;
  float: right;
  display: inline-block;
  width: 100px;
}


  .copyright{
    clear: both;
    border-top:1px #8D8D8D;
      text-align: center;
    border-top-style: groove;
      background-color:#131212;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 12px;
    font-family: "fontutama" ;
  color: grey;
  }

}